@model IEnumerable<crud_people.Models.Person>

<a href="Person/Create" class="btn btn-primary">Nova Pessoa</a>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Endereço</th>
                <th></th>
                <th></th>
            </tr>
            </tr>
        </thead>

        @foreach(var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.address</td>
                <td><a class="btn btn-danger" href="Person/Delete/@item.id">Delete</a> </td>
                <td><a class="btn btn-primary" href="Person/Edit/@item.id">Editar</a> </td>
            </tr>
        }
    </table>
</div>